#loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    .loader {
        position: sticky;
        top: calc(50dvh - 60px);
        left: calc(50dvw - 60px);

        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
    }
}

.spin-animation {
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

button {
    cursor: pointer;
    background: #0b03033b;
    border: none;
    min-width: 55px;
    height: 55px;
    padding: 0;
    margin: 0;
    border-radius: 10%;
    transition: transform 0.05s ease;
    box-shadow: 2px 6px 15px rgba(31, 7, 7, 0.2);

    img {
        width: 40px;
        height: 40px;
    }
}

button:hover {
    background: #f63e3b;
    transform: scale(1.07);
}

button:disabled {
    transform: none;
    background-color: #b38181;
}

.button-text {
    border: solid 2px #ffd600;
    min-width: auto;
    padding: 0 16px;
    font-weight: 600;
    font-family: "Iner-Var";
    font-size: 22px;
}

input {
    border-radius: 10px 0 0 10px;
    border: none;
    min-width: 220px;
    color: #1e1e1e;
    padding: 15px;

    font-weight: 400;
    font-family: "Iner-Var";
    font-size: 22px;
}

.burger-menu {
    z-index: 1;
    opacity: 0;
    transform: translateY(-8px);
    pointer-events: none;
    transition:
        opacity 180ms ease,
        transform 180ms ease;
    position: absolute;
    top: 120%;

    color: #ffd600;

    background: #e53835f3;
    border-radius: 5px;
    border: solid #ffd600 2px;
}

.burger-menu.open {
    opacity: 0.95;
    transform: translateY(0);
    pointer-events: auto;
}

.burger-container {
    width: 55px;
    height: 55px;
    padding: 0;
    margin: 0;
}

ul {
    li {
        padding: 4px 24px;

        a {
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
                height: 22px;
            }
            font-family: "Iner-Var";
            font-size: 24px;
        }
    }
    li:hover {
        background: #f4ebebf3;
        cursor: pointer;

        a {
            color: #e76c1f;
        }
    }
}

.settingsbox {
    background: #1e1e1e;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    left: 35px;
    top: 35px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: 16px;
        font-family: "Lato-Regular";
        text-align: center;
    }
}

/* mobile */
@media (max-width: 550px) {
    button {
        min-width: 45px;
        height: 45px;
        img {
            width: 32px;
            height: 32px;
        }
    }

    button:hover {
        background: #f63e3b;
        transform: scale(1.07);
    }

    .button-text {
        border: solid 2px #ffd600;
        min-width: auto;
        padding: 0 16px;
        font-weight: 500;
        font-family: "Iner-Var";
        font-size: 20px;
    }

    .settingsbox {
        width: 30px;
        height: 30px;
        left: 25px;
        top: 25px;

        p {
            font-size: 16px;
            font-family: "Lato-Regular";
            text-align: center;
        }
    }

    input {
        padding: 11px;
        font-size: 18px;
    }
}
