#diag-root {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #09212a;
    border-radius: 16px;
    border: none;
    color: white;
    width: 500px;
    min-width: 300px;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        header.diag-top-bar {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0;
            border: none;
            height: auto;
            height: 210px;

            #diag-close-button {
                align-self: flex-end;
                box-shadow: none;
                transform: none;
                background: none;
                width: 55px;
                height: 55px;

                img {
                    width: 45px;
                    height: 45px;
                }
            }
            #diag-close-button:hover {
                background: #1e1e1e;
            }

            #diag-pokemon-sprite {
                position: absolute;
                top: 10px;
                height: 150px;
                width: 150px;
                margin-bottom: 16px;
            }

            h2 {
                font-size: 28px;
                padding: 4px 8px;
            }
        }

        section {
            background: white;
            flex: 1;

            .diag-button-bar {
                display: flex;
                flex-direction: row;
                background-color: #1e1e1e;
                width: 100%;
                border-top: solid white 2px;

                .diag-inner-button-bar {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    border-left: 1px solid white;
                    border-right: 1px solid white;

                    .diag-inner-button {
                        width: 33.3%;
                        background: #1e1e1e;
                        font-family: "Iner-Var";
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .diag-inner-button:hover {
                        background: #e53935;
                    }
                }
            }

            button {
                width: 15%;
                transform: none;
                border-radius: 0;
            }

            .diag-content {
                height: 330px;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 8px 16px;

                p,
                span {
                    font-family: "Lato-Regular";
                    font-size: clamp(18px, 5dvw, 20px);
                    color: #1e1e1e;
                }

                img {
                    top: 5px;
                    width: 30px;
                    height: 30px;
                    margin-right: 8px;
                }

                .diag-content-subheader {
                    font-family: "Lato-Bold";
                }
            }

            #diag-content-tab-1 {
                #diag-description {
                    margin-top: 24px;
                    flex: 3;
                }

                #diag-type-bar {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: flex-end;
                    gap: 10px;
                    height: 80px;
                    border-top: #09212a80 solid 1px;
                    border-bottom: #09212a87 solid 1px;

                    img {
                        width: 130px;
                        object-fit: contain;
                        height: 35px;
                        margin: 24px 0;
                    }
                }

                .diag-size-bar {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 6px;
                }
            }

            #diag-content-tab-3 {
                padding-bottom: 0;

                #diag-evo-container {
                    display: flex;
                    align-self: center;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    row-gap: 0;
                    column-gap: 16px;
                    width: 100%;
                    height: 100%;
                    padding-bottom: 10px;

                    div {
                        background-color: wheat;
                        border: solid 1px #1e1e1e6c;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 60%;
                            height: 60%;
                            object-fit: contain;
                        }

                        div {
                            top: 15px;
                            width: 30px;
                            height: 30px;
                            background: #e53935;
                            span {
                                color: white;
                            }
                        }
                    }
                    .diag-gen-0 {
                        width: 18%;
                        min-width: 70px;
                        aspect-ratio: 1 / 1;
                        img {
                            width: 60%;
                            height: 60%;
                        }
                    }
                    .diag-gen-1 {
                        width: 23%;
                        min-width: 83px;
                        aspect-ratio: 1 / 1;
                        img {
                            width: 70%;
                            height: 70%;
                        }
                    }
                    .diag-gen-2 {
                        width: 26%;
                        min-width: 95px;
                        aspect-ratio: 1 / 1;
                        img {
                            width: 80%;
                            height: 80%;
                        }
                    }
                    .diag-gen-max {
                        width: 50%;
                        min-width: 110px;
                        aspect-ratio: 1 / 1;
                        img {
                            width: 80%;
                            height: 80%;
                        }
                    }
                }
            }

            .diag-object-hide {
                display: none;
            }
        }

        footer.diag-bottom-bar {
            background: #1e1e1e;
            height: 50px;

            p, span {
                font-family: "Lato-Bold";
                font-size: 18px;
                color: #ffd600;
            }
        }
    }
}

#diag-table-container {
    margin-top: 20px;
    height: 100%;
    #diag-table {
        tr {
            td {
                color: #1e1e1e;
                font-size: clamp(18px, 5dvw, 20px);
                padding: 6px;

                .diag-statsbar-color {
                    height: 12px;
                    top: -1 px;
                    border-radius: 4px;
                }
                #diag-statsbar-HP {
                    background: #6bcf19;
                }
                #diag-statsbar-ATK {
                    background: #e82522;
                }
                #diag-statsbar-DEF {
                    background: #2c87dd;
                }
                #diag-statsbar-SATK {
                    background: rgb(255, 0, 149);
                }
                #diag-statsbar-SDEF {
                    background: #2f2cdd;
                }
                #diag-statsbar-SPD {
                    background: #f07808;
                }
            }

            .diag-statsbar {
                background: linear-gradient(to bottom, #09212a00 30%, #3b424493 50%, #09212a00 70%);
            }

            td:nth-child(1) {
                width: 40px;
            }
            td:nth-child(2) {
                min-width: 100px;
                padding: 0;
            }
            td:nth-child(3) {
                width: 50px;
                text-align: right;
            }
        }
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}
