body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background: white;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #e53935;
    background: linear-gradient(to bottom, #e53935 0%, #fa5957 100%);
    border-bottom: #1e1e1e solid 6px;
    margin-bottom: 120px;
    height: 118px;

    box-shadow: 0px 6px 15px rgba(0, 0, 0, 1);

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 48px;

        .headder-left-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 500px;
            padding: 0;

            .header-logo-container {
                margin-right: 20px;
                padding: 0;
                width: 64px;
                height: 64px;
                background-color: #1e1e1e;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6);

                #header-logo {
                    width: 100%;
                    height: 100%;
                }
            }
            #header-loaded-pokemon {
                width: 50px;
                text-align: left;
                font-size: 24px;
                font-family: "Lato-Regular";
            }
        }

        .headder-right-bar {
            display: flex;
            width: 500px;
            justify-content: flex-end;
            padding: 0;

            form {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    section {
        div {
            padding: 0 16px;

            h1 {
                margin-top: 64px;
                margin-bottom: 80px;
            }

            #pokemon-loading-area {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 24px;
                padding: 0;
                margin-bottom: 64px;
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #09212a;
    height: 128px;
}

/* tablet */
@media (max-width: 1280px) {
    header {
        height: 200px;
        div {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            height: 80px;
            padding: 0 24px;
        }
    }
}

/* mobile */
@media (max-width: 550px) {
    header {
        height: 180px;
        div {
            height: 60px;
            align-items: center;
            justify-content: center;

            .headder-left-bar {
                max-width: 400px;
                width: 100%;
                min-width: 280px;

                .header-logo-container {
                    display: none;
                }
                #header-loaded-pokemon {
                    width: 35px;
                    font-size: 20px;
                }
            }

            .headder-right-bar {
                max-width: 450px;
                width: 100%;
                min-width: 280px;

                form {
                    width: 100%;
                    button {
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }

    main {
        section {
            div {
                padding: 10px;
            }
        }
    }
}
