.pokebox {
    height: 400px;
    width: 275px;
    border-radius: 20px;
    transform-origin: center;
}

.pokebox-loaded {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    border: rgba(0, 0, 0, 0.2) solid 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

    .pokebox-header-container {
        height: 60px;
        padding: 8px;
    }

    .pokebox-sprite-container {
        flex: 1;
        display: flex;
        align-items: center;
        .pokebox-sprite-box {
            background: radial-gradient(circle, rgba(245, 222, 179, 0.6) 0%, rgba(245, 222, 179, 0.25) 80%, rgba(245, 222, 179, 0.15) 100%);
            border-radius: 10%;
            border: rgba(0, 0, 0, 0.2) solid 1px;
            width: 200px;
            height: 200px;
            display: flex;

            .pokebox-sprite {
                align-self: center;
                justify-self: center;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .pokekebox-loaded-types {
        width: 100%;
        height: 28%;
        border-radius: 5% 5% 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .pokebox-type {
            opacity: 100%;
            width: 180px;
            object-fit: contain;
        }
    }
}

.pokebox-loaded:hover {
    border: #ffd600 solid 4px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}


.pokebox-loaded-select  {
    border: red solid 4px;;
}


.pokebox-placeholder {
    border-radius: 18px;
    background: linear-gradient(90deg, #6f6f6f 0%, #989898 40%, #6f6f6f 100%);
    background-size: 200% 100%;
    animation: shimmer 4s linear infinite;
}

.pokebox-generation {
    position: absolute;
    background: #f2f1ec;
    border: #1e1e1e6a solid 1px;
    width: 40px;
    height: 40px;
    top: -15px;
    left: -15px;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: 22px;
        color: #4a4a4a;
        font-family: "Iner-Var";
        font-weight: 800;
        text-align: center;
    }
}

.type-normal {
    background: linear-gradient(to bottom, #e2e1c9 0%, #cecdc2 100%);
}
.type-fire {
    background: linear-gradient(to bottom, #ee8130 0%, #d37c39 100%);
}
.type-water {
    background: linear-gradient(to bottom, #4577e5 0%, #4c75ce 100%);
}
.type-electric {
    background: linear-gradient(to bottom, #e2bd27 0%, #cbad33 100%);
}
.type-grass {
    background: linear-gradient(to bottom, #6ec53b 0%, #6baf41 100%);
}
.type-ice {
    background: linear-gradient(to bottom, #96d9d6 0%, #92c3c2 100%);
}
.type-fighting {
    background: linear-gradient(to bottom, #e23b35 0%, #cc433e 100%);
}
.type-poison {
    background: linear-gradient(to bottom, #a250a1 0%, #8e518d 100%);
}
.type-ground {
    background: linear-gradient(to bottom, #e2bf65 0%, #c6ad68 100%);
}
.type-flying {
    background: linear-gradient(to bottom, #9797e9 0%, #9494d0 100%);
}
.type-psychic {
    background: linear-gradient(to bottom, #f95587 0%, #da5b83 100%);
}
.type-bug {
    background: linear-gradient(to bottom, #93a417 0%, #819020 100%);
}
.type-rock {
    background: linear-gradient(to bottom, #817a53 0%, #757159 100%);
}
.type-ghost {
    background: linear-gradient(to bottom, #735797 0%, #705e86 100%);
}
.type-dragon {
    background: linear-gradient(to bottom, #6f35fc 0%, #7c51ea 100%);
}
.type-dark {
    background: linear-gradient(to bottom, #3b2e25 0%, #3d342d 100%);
}
.type-steel {
    background: linear-gradient(to bottom, #b8d7ca 0%, #aec3ba 100%);
}
.type-fairy {
    background: linear-gradient(to bottom, #d685ad 0%, #be82a0 100%);
}
.type-unknown {
    background: linear-gradient(to bottom, #68a090 0%, #699085 100%);
}
.type-shadow {
    background: linear-gradient(to bottom, #3b2b4a 0%, #382b44 100%);
}
.type-stellar {
    background: linear-gradient(to bottom, #8fd3ff 0%, #92c5e4 100%);
}

.hide-object {
    display: none;
}
