.pokebox {
    height: 400px;
    width: 300px;
    border-radius: 20px;
    transform-origin: center;
}

.pokebox-loaded {
    animation: popIn 0.1s ease-out 1 forwards;
    cursor: pointer;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    border: rgba(0, 0, 0, 0.2) solid 1px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.05s ease;

    .pokebox-header-container {
        height: 60px;
        padding: 8px;
    }

    .pokebox-sprite-container {
        flex: 1;
        display: flex;
        align-items: center;
        .pokebox-sprite-box {
            background: radial-gradient(circle, rgba(245, 222, 179, 0.6) 0%, rgba(245, 222, 179, 0.25) 80%, rgba(245, 222, 179, 0.15) 100%);
            border-radius: 10%;
            border: rgba(0, 0, 0, 0.2) solid 1px;
            width: 200px;
            height: 200px;
            display: flex;

            .pokebox-sprite {
                align-self: center;
                justify-self: center;
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .pokekebox-loaded-types {
        width: 100%;
        height: 28%;
        border-radius: 5% 5% 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .pokebox-type {
            opacity: 100%;
            width: 180px;
            object-fit: contain;
        }
    }
}

.pokebox-loaded:hover {
    transform: scale(1.02);
    border: #ffd600 solid 4px;
}

.pokebox-placeholder {
    border-radius: 18px;
    background: linear-gradient(90deg, #6f6f6f 0%, #989898 40%, #6f6f6f 100%);
    background-size: 200% 100%;
    animation: shimmer 4s linear infinite;
}

.type-normal {
    background: #c1c09c;
}
.type-fire {
    background: #ee8130;
}
.type-water {
    background: #4577e5;
}
.type-electric {
    background: #e2bd27;
}
.type-grass {
    background: #6ec53b;
}
.type-ice {
    background: #96d9d6;
}
.type-fighting {
    background: #e23b35;
}
.type-poison {
    background: #a250a1;
}
.type-ground {
    background: #e2bf65;
}
.type-flying {
    background: #9797e9;
}
.type-psychic {
    background: #f95587;
}
.type-bug {
    background: #93a417;
}
.type-rock {
    background: #817a53;
}
.type-ghost {
    background: #735797;
}
.type-dragon {
    background: #6f35fc;
}
.type-dark {
    background: #3b2e25;
}
.type-steel {
    background: #b8d7ca;
}
.type-fairy {
    background: #d685ad;
}
.type-unknown {
    background: #68a090;
}
.type-shadow {
    background: #3b2b4a;
}
.type-stellar {
    background: #8fd3ff;
}


.hide-object {
    display: none ;
}